<td>
    <input type="checkbox" />
</td>
<td>
    <span class="bookmark-icon <%- icon %>"></span>
    <input type="hidden" value="<%- icon %>" />
</td>
<td class="bookmark-content">
    <div class="bookmark-title">
        <a href="<%- link %>"><%- title %></a>
        <ul>
            <li><%- tags %></li>
        </ul>
        <span class="btn btn-default btn-sm edit-panel" style="display: none;">
            <a href="#" class="edit-bookmark"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="remove-bookmark"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
</td>
<td>
    <!-- Bookmarks item -->
    --
</td>
<td>
    <!-- Created time -->
    --
</td>