<td>
    <input type="checkbox" />
</td>
<td>
    <span class="folder-icon <%- icon %>"></span>
    <input type="hidden" value="<%- icon %>" />
</td>
<td class="folder-content">
    <div class="folder-name">
        <%- name %>
        <span class="btn btn-default btn-sm edit-panel" style="display: none;">
            <a href="#" class="edit-folder"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="remove-folder"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="form-group folder-input" style="display: none;">
        <input class="form-control" type="text" name="name" value="<%- name %>"/>
    </div>
</td>
<td>
    <!-- Bookmarks item -->
    --
</td>
<td>
    <!-- Created time -->
    --
</td>