div.tagsinput {
    background: #FFF;
    overflow-y: hidden;
    display: block;
    width: 100%;
    height: 37px;
    padding: 8px 12px;
    font-size: 13px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

div.tagsinput.focused {
    border-color:rgba(82,168,236,0.8);
    outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}

div.tagsinput input {
    padding: 2px;
    font-size: 14px;
    color: #D5D5D5;
}

div.tagsinput span.tag {
    border: none;
    background: #999;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
}

div.tagsinput span.tag a {
    font-weight: bold;
    color: #fff;
    text-decoration:none;
    font-size: 13px;
}