.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

*, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    padding-top: 70px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

#flashMessageWrapper {
    position: fixed;
    top: 35px;
    left: 50%;
    margin-left: -100px;
    z-index: 99999;
}

#bookmarkSearch {
    border-radius: 20px;
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    font-size: 12px;
    margin-top: 10px;
    background: white url("../img/search_icon.png") 8px 6px no-repeat;
}

/* Override navbar link style */
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 23px;
}

#tag-cloud {
    margin: 50px;
}

p.tag-cloud-element {
    display: inline-block;
    padding: 10px;
}

td.bookmark-share-col {
    text-align: center;
    vertical-align: middle;
}

a.bookmark-share.notshared {
    color: #c0c0c0;
}