{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Bookmarks{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bookmark-tags.css' %}" />
{% endblock %}
{% block content %}
{% if show_results %}
<h3>Search results for "{{ query }}":</h3>
{% endif %}
<table class="table table-hover">
    <thead>
        <th></th>
        <th>Title</th>
        <th>Tags</th>
        <th></th>
    </thead>
    <tbody>
        {% for bookmark in bookmark_list %}
        <tr>
            <td><img src="{{ bookmark.favicon }}" /></td>
            <td><a href="{{ bookmark.link }}">{{ bookmark.title }}</a></td>
            <td>{% for tag in bookmark.tag_set.all %}
                    <a href="{% url 'tags:page' tag_name=tag.name|escape %}"><span class="label">{{ tag }}</span></a>
                {% endfor %}
            <td>{% if not show_results %}<a class="bookmark-edit" href="{% url 'bookmarks:save' %}?url={{ bookmark.link }}" data-toggle="tooltip" title="{% trans 'Edit bookmark' %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
        </tr>
        {% empty %}
        <tr class="bookmark-empty">
            <td colspan="3">{% trans 'No bookmarks yet' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not show_results %}<a class="btn btn-default bookmark-add" href="{% url 'bookmarks:save' %}">{% trans 'Add bookmark' %}</a>{% endif %}
{% url 'bookmarks:main' as obj_url %}
{% include 'snippets/paginate.html' %}
<!-- Modal -->
<div class="modal fade" id="saveBookmark" tabindex="-1" role="dialog" aria-labelledby="saveBookmarkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="saveBookmarkLabel">{% trans 'Save bookmark' %}</h4>
      </div>
      <div class="modal-body">
        {% include 'bookmarks/bookmark_save_form.html' %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tags.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bookmark-edit.js' %}"></script>
{% endblock %}