{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Create bookmark' %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bookmark-tags.css' %}" />
{% endblock %}
{% block content %}
<h1>{% trans 'Save bookmark' %}</h1>
{% include 'bookmarks/bookmark_save_form.html' %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tags.js' %}"></script>
{% endblock %}
