{% extends 'base.html' %}
{% load i18n %}
{% block title %}Bookmarks{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
        <th></th>
        <th>Title</th>
        <th>Tags</th>
        <th></th>
    </thead>
    <tbody>
        {% for bookmark in bookmark_list %}
        <tr>
            <td><img src="{{ bookmark.favicon }}" /></td>
            <td><a href="{{ bookmark.link }}">{{ bookmark.title }}</a></td>
            <td>{% for tag in bookmark.tag_set.all %}
                    <span class="label">{{ tag }}</span>
                {% endfor %}
            <td><a href="{% url 'bookmarks:create' %}?url={{ bookmark.link }}"><span class="glyphicon glyphicon-edit"></span></a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">{% trans 'No bookmarks yet' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-default" href="{% url 'bookmarks:create' %}">{% trans 'Add boookmark' %}</a>
{% include 'snippets/paginate.html' %}
{% endblock %}