{% load i18n %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bm-navbar-collapse">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'bookmarks:main' %}">Bookmarks&nbsp;<span class="label label-danger">Beta!</span> </a>
    </div>
    {% if user.is_authenticated %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="bm-navbar-collapse">
        <ul class="nav navbar-nav">
            {% url 'bookmarks:popular' as popular_url %}
                <li{% if request.path == popular_url %} class="active"{% endif %}><a href="{{ popular_url }}">Popular</a></li>
            {% url 'bookmarks:main' as bookmark_main_url %}
            <li{% if request.path == bookmark_main_url %} class="active"{% endif %}><a href="{{ bookmark_main_url }}">Bookmarks</a></li>
            {% url 'tags:cloud' as tag_cloud_url %}
            <li{% if request.path == tag_cloud_url %} class="active"{% endif %}><a href="{{ tag_cloud_url }}">Tags</a></li>
        </ul>
    </div>
    <p class="navbar-text pull-right">Signed in as <a href="{% url 'users:logout' %}" class="navbar-link">{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;<img src="{{ user.picture|default:'http://2.bp.blogspot.com/-iZ9aRe865rs/UlUxTymZZAI/AAAAAAAAves/mInkBFJkvkE/s1600/images.jpg' }}" class="img-circle" height="30px"/></a></p>
    <form class="navbar-form pull-right" role="search" action="{% url 'bookmarks:search' %}" method="GET">
      <div class="form-group col-lg-12">
        <input id="bookmarkSearch" type="text" class="form-control" placeholder="Search..." name="query" autocomplete="off">
      </div>
    </form>
    {% else %}
    <div class="navbar-collapse" id="bm-navbar-collapse">
        <ul class="nav navbar-nav">
            {% url 'bookmarks:popular' as popular_url %}
                <li{% if request.path == popular_url %} class="active"{% endif %}><a href="{{ popular_url }}">Popular</a></li>
        </ul>
    </div>
    {% endif %}


</nav>
